APP_NAME=MonChat
ENV=dev
DEBUG=true
FRONTEND_ORIGIN=http://localhost:8501

VECTORDB_ENABLED=true
MOCK_DB_ENABLED=true
MOCK_DB_DIR=mock_data

API_HOST=0.0.0.0
API_PORT=8000
STREAMLIT_PORT=8501

LLM_ENABLED=true
LLM_BASE_URL=http://pgaiap09:11434
LLM_CHAT_PATH=/api/chat
LLM_DEFAULT_MODEL=qwen3:8b
LLM_STREAM=false
LLM_TIMEOUT=120

HF_LOCAL_MODEL_DIR=C:\Users\Administrator\Desktop\AI Lab\Projects\MonChat\hf\all-MiniLM-L6-v2
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
